@model IEnumerable<MVCStars.Models.Star>

@{
    ViewBag.Title = "Index";
}


<h2>Stars In Space</h2>

<hr />
<div class="row">

    <div class="col-md-8 ">
        @*creates a url for search query made by user*@
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            //adds a input area and a button to sumbit search
            <div>
                Type: @Html.DropDownList("StarType", "All")
                Name: @Html.TextBox("searchString")
                <input class="btn btn-default" type="submit" value="Search" />
            </div>
        }
    </div>

    <div class="col-md-4 text-right">
        @*adds text for the link to add to the record.  Second parameter (create) is the action method the link will go to*@
        @Html.ActionLink("Add a Star", "Create", null, new { @class = "btn btn-default" })
    </div>

</div>

<hr />

<table class="table">
    @*column headings for table*@
    <tr class="table-header">
        <th>Image</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Type)</th>
        <th>Solar Mass</th>
        <th>Ratings</th>
        <th>Apparent Magnitude</th>
        <th>Action</th>
        @*<th>@Html.DisplayNameFor(model => model.Info)</th>*@

    </tr>

    @*table data*@
    @foreach (var item in Model)
    {
        <tr class="table-background">
            <td><img src="@Url.Content(item.ImageUrl)" height="100" /></td>
            <td>@Html.DisplayFor(model => item.Name)</td>
            <td>@Html.DisplayFor(model => item.Type)</td>
            <td>@Html.DisplayFor(model => item.SolarMass)</td>
            <td>
                <i class="fa fa-thumbs-up"></i>:
                @Html.DisplayFor(model => item.LikeCount) |
                <i class="fa fa-thumbs-down"></i>:
                @Html.DisplayFor(model => item.DislikeCount)

            </td>
            <td>@Html.DisplayFor(model => item.ApparentMagnitude)</td>
            @*<td>@Html.DisplayFor(model => item.Info)</td>*@


            @*displays links to access different methods to alter each record*@
            <td>
                <div class="text-center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                </div>
                <br>
                <div class="text-center">
                    @Html.ActionLink("Like", "Like", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                    @Html.ActionLink("Dislike", "Dislike", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </div>

            </td>

        </tr>

    }
</table>
